.vs/Money Empire Game/FileContentIndex/ab051f3b-d94e-4c65-a78d-090501e4dbfc.vsidx
.vs/Money Empire Game/FileContentIndex/00293088-0692-461b-b431-1d49731c9540.vsidx
.vs/Money Empire Game/FileContentIndex/b33b70b7-81d8-479c-b7d3-4d33fd996ba1.vsidx
.vs/Money Empire Game/FileContentIndex/b87162d9-61cb-43aa-9f3d-b2b90e77b4eb.vsidx
.vs/Money Empire Game/FileContentIndex/6a253f67-9ea8-494a-a500-930d77dd2220.vsidx
.vs/Money Empire Game/FileContentIndex/eb467449-0c64-42fc-8a34-cdeb9b856030.vsidx
.vs/Money Empire Game/FileContentIndex/42af160b-4075-44c7-8e4c-a2f781196535.vsidx
.vs/Money Empire Game/FileContentIndex/263d03c2-02e3-4a2a-9ad3-36e30b086329.vsidx
.vs/Money Empire Game/FileContentIndex/ef5518eb-3754-445c-8b49-0aa03276c9c8.vsidx
.vs/Money Empire Game/FileContentIndex/7c6e83bb-9d8e-4046-9707-7da0b9c1c9eb.vsidx
.vs/Money Empire Game/FileContentIndex/f998a18e-9e06-407f-8628-2321825f587f.vsidx
*.db
*.db-wal
.vs/Money Empire Game/CopilotIndices/17.14.1641.39856/SemanticSymbols.db-shm
.vs/Money Empire Game/CopilotIndices/17.14.1641.39856/SemanticSymbols.db
.vs/Money Empire Game/FileContentIndex/004d6b08-0a9d-4104-a815-7bda43136e5e.vsidx
.vs/Money Empire Game/FileContentIndex/74616f02-7778-4708-900d-59a528eb26c3.vsidx
*.vsidx
.vs/Money Empire Game/CopilotIndices/17.14.1641.39856/SemanticSymbols.db-shm
.vs/Money Empire Game/CopilotIndices/17.14.1641.39856/SemanticSymbols.db
